autocorrect
Flask
Flask_Bcrypt
Flask_Login
Flask_Mail
sqlalchemy
Flask_WTF
itsdangerous
keras
nltk
numpy
Pillow
WTForms
pymysql
tensorflow
email_validator
cryptography
mysql-connector-python
Werkzeug
fitz
langchain-ollama
gunicorn
